<ion-view>

  <div class="bar bar-header item-input-inset">

    <button ng-click="voltar()" class="button button-icon button-clear ion-arrow-left-c text-accent"></button>

    <label class="item-input-wrapper" style="margin-left: 10px;">
      <input type="search" ng-model="produto.buscar">
      <i  class="icon ion-ios-search placeholder-icon"></i>
    </label>

    <a class="button button-icon button-clear ion-checkmark fa-15x text-accent" ng-click="editarLista()"></a>
  </div>

  <ion-content>
    <ion-refresher
      on-refresh="buscarProduto()">
    </ion-refresher>

    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Lista {{lista.nome}}</span>
        <input type="text" placeholder="Novo nome" ng-model="lista.nome">
      </label>
    </div>

  </ion-content>
</ion-view>
