<ion-view view-title="Criar conta" cache-view="false">
  <ion-nav-bar class="bar-stable background-white">
    <ion-nav-back-button class="button button-icon button-clear ion-arrow-left-c text-accent">
    </ion-nav-back-button>

    <ion-nav-buttons side="right">
      <a class="button button-icon button-clear ion-checkmark fa-15x text-accent" ng-click="cadastrar()"></a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input item-input-wrapper">
        <input type="text" placeholder="NOME" ng-model="usuario.name">
        <i  class="icon ion-person placeholder-icon"></i>
      </label>
      <label class="item item-input item-input-wrapper">
        <input type="text" placeholder="E-MAIL" ng-model="usuario.email">
        <i  class="icon ion-email placeholder-icon"></i>
      </label>
      <label class="item item-input item-input-wrapper">
        <input type="password" placeholder="SENHA" ng-model="usuario.senha">
        <i  class="icon ion-key placeholder-icon"></i>
      </label>
    </div>
  </ion-content>
</ion-view>

