<ion-view>

  <div class="bar bar-header item-input-inset detail-header">

    <button ng-click="voltar()" class="button button-icon button-clear ion-arrow-left-c text-accent"></button>

    <label class="item-input-wrapper" style="margin-left: 10px;">
      <input type="search" ng-model="descricao.buscar" style="width: 90%;">
      <i  class="icon ion-ios-search placeholder-icon"></i>
    </label>

    <a class="button button-icon button-clear ion-android-more-vertical fa-15x text-accent" ng-click="fabMenuToggle()"></a>
    <a class="button button-icon button-clear fa-15xr"></a>

  </div>
  <fab-menu></fab-menu>
  <ion-content id="detalhar">
    <ion-refresher
      on-refresh="buscarProduto()">
    </ion-refresher>

    <a style="text-decoration: none;" href="javascript:void(0)" on-hold="fabMenuToggle()">
      <img class="img-responsive detail" width="100%" ng-src="{{produto.Image}}"/>
      <br>
      <div class="container">
        <p><h4 class="text-accent">{{produto.Name}}</h4></p>
        <p style="color: #777;">{{produto.Description}}</p>
        <p style="color: #777;">Loja:{{produto.Store || ''}}</p>
        <div class="container">
          <div class="row">
            <div class="col-md-offset-4">
              <h4 class="text-accent">{{produto.Price != 0 ?  "R$" + produto.Price.toFixed(2) : "";}}</h4>
            </div>
            <div>
              <a href="javascript:void(0)" ng-click="showOppaActionSheet()" class="btn btn-raised accent text-white bold pull-right oppa">
                Comprar
              </a>
            </div>
          </div>
        </div>

      </div>
    </a>

    <div id="relacionados" ng-if="produto.RelatedProducts.length >= 1" style="margin-top: 10px;">
      <p><h5 style="color: #444;text-align: center;margin-bottom: 15px;"><b>Produtos Relacionados</b></h5></p>
      <div class="row itens" ng-repeat="item in produto.RelatedProducts track by $index" ng-if="$index % 2 == 0">
        <div class="col col-50">
          <div class="panel panel-default" style="min-height: 180px">
            <a ng-click="onClickDetalharProduto(item)"  on-hold="popupPlaylist(item)">
              <div class="panel-body">
                <img class="img-responsive" ng-src="{{item.Image}}">
              </div>
            </a>
            <div class="panel-footer">
              <a ng-click="onClickDetalharProduto(item)" on-hold="popupPlaylist(item)">
                <label class="titulo">{{item.Name}}</label>
                <label class="description">{{item.Description.split('.')[0]}}</label>
              </a>
              <p>
                <a ng-click="onClickDetalharProduto(item)" on-hold="popupPlaylist(item)">
                  <label class="preco pull-left">{{item.Price != 0 ?  "R$" + item.Price.toFixed(2) : "";}}</label>
                </a>
                <label ng-click="like(item)" class="acoes pull-right" style="margin-left: 5px;">
                  <i  class="button button-icon button-clear fa-15x {{item.Liked ? 'ion-ios-heart text-accent': 'ion-ios-heart-outline';}}"></i>
                </label>
              </p>
            </div>
          </div>
        </div>

        <div class="col col-50" ng-if="!!produto.RelatedProducts[$index + 1]" >
          <div class="panel panel-default" style="min-height: 180px">
            <a ng-click="onClickDetalharProduto(produto.RelatedProducts[$index + 1])"  on-hold="popupPlaylist(relacionados[$index + 1])">
              <div class="panel-body">
                <img class="img-responsive" ng-src="{{produto.RelatedProducts[$index + 1].Image}}">
              </div>
            </a>
            <div class="panel-footer">
              <a ng-click="onClickDetalharProduto(produto.RelatedProducts[$index + 1])" on-hold="popupPlaylist(relacionados[$index + 1])">
                <label class="titulo">{{produto.RelatedProducts[$index + 1].Name}}</label>
                <label class="description">{{produto.RelatedProducts[$index + 1].Description.split('.')[0]}}</label>
              </a>
              <p>
                <a ng-click="onClickDetalharProduto(produto.RelatedProducts[$index + 1])" on-hold="popupPlaylist(relacionados[$index + 1])">
                  <label class="preco pull-left">{{produto.RelatedProducts[$index + 1].Price != 0 ?  "R$" + produto.RelatedProducts[$index + 1].Price.toFixed(2) : "";}}</label>
                </a>
                <label ng-click="curtir(produto.RelatedProducts[$index + 1])" class="acoes pull-right" style="margin-left: 5px;">
                  <i  class="button button-icon button-clear fa-15x {{produto.RelatedProducts[$index + 1].Liked ? 'ion-ios-heart text-accent': 'ion-ios-heart-outline';}}"></i>
                </label>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="fab-menu-overlay" ng-class="{active: fabMenu.active}" ng-click="fabMenuToggle()"></div>
</ion-view>


<script type="text/ng-template" id="templates/fab-menu.html">

  <div class="fab-menu">
    <ul class="fab-menu-items" ng-style="isIOS ? 'left:50px !important;':''" id="fab-menu">
      <li>
        <a class="btn btn-fab btn-fab-mini fab-menu-button-item button-calm-900 icon ion-plus text-white red"  ng-click="popupPlaylist()"></a>
      </li>
      <li>
        <a ng-click="curtir()" class="btn btn-fab btn-fab-mini fab-menu-button-item button-calm-900 icon {{produto.Liked ? 'accent ion-ios-heart text-white': 'accent text-white ion-heart-broken';}} text-white"></a>
      </li>
      <li>
        <a ng-click="shareFacebook()" class="btn btn-fab btn-fab-mini fab-menu-button-item button-calm-900 icon ion-social-facebook text-white facebook-color"></a>
      </li>
      <li>
        <a ng-click="shareWhatsApp()" class="btn btn-fab btn-fab-mini fab-menu-button-item button-calm-900 icon ion-social-whatsapp-outline text-white whats-color"></a>
      </li>

    </ul>
  </div>
</script>

<script id="popupAddToList.html" type="text/ng-template">

  <div class="addtolist-header">
    <i class="ion-close text-accent" ng-click="popupList.close()"></i>
    Escolha uma lista
  </div>
  <div class="addtolist-content">
    <div class="list">
      <div class="item add-item" ng-hide="item.Id == 0" style="cursor: pointer;" ng-repeat="item in listaPlaylist track by $index" ng-click="adicionarProduto(item)">
        <img style="vertical-align:middle; margin-right: 5px;box-shadow: none;" src="img/folder.png" width="50px" height="50px" />
        {{item.Name}}
      </div>
    </div>

    <label class="bt-add-list" ng-click="">
      <button class="button button-icon ion-plus accent text-white" ng-click="cadastrar()" style="vertical-align:middle"></button>
      Nova lista
    </label>

  </div>
</script>

