<ion-view cache-view="false">

  <div class="bar bar-header item-input-inset">

    <button ng-click="voltar()" class="button button-icon button-clear ion-arrow-left-c text-accent"></button>

    <label class="item-input-wrapper" style="margin-left: 10px;">
      <input type="search" ng-model="produto.buscar">
      <i  class="icon ion-ios-search placeholder-icon"></i>
    </label>

    <a class="button button-icon button-clear fa-15x text-accent"></a>

  </div>

  <ion-content id="mostruario">

    <ion-refresher
      on-refresh="buscarProduto()">
    </ion-refresher>

    <div class="row itens" ng-repeat="item in meusProdutos track by $index;" ng-if="$index % 2 == 0">
      <div class="col col-50">
        <div class="panel panel-default">
          <a ng-click="onClickDetalharProduto(item)" on-hold="showPLaylistItemActionsheet($index)">
            <div class="panel-body">
              <img class="img-responsive" ng-src="{{item.Image}}">
            </div>
          </a>
          <div class="panel-footer">
            <a ng-click="onClickDetalharProduto(item)" on-hold="showPLaylistItemActionsheet($index)">
              <label class="titulo">{{item.Name}}</label>
              </br>
              <label class="description">{{item.Description.split('.')[0]}}</label>
            </a>
            <p>
              <a ng-click="onClickDetalharProduto(item)" on-hold="showPLaylistItemActionsheet($index)">
                <label class="preco pull-left">{{item.Price != 0 ?  "R$" + item.Price.toFixed(2) : "";}}</label>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col col-50" ng-if="!!meusProdutos[$index + 1]">
        <div class="panel panel-default">
          <a ng-click="onClickDetalharProduto(meusProdutos[$index + 1])" on-hold="showPLaylistItemActionsheet($index + 1)">
            <div class="panel-body">
              <img class="img-responsive" ng-src="{{meusProdutos[$index + 1].Image}}">
            </div>
          </a>
          <div class="panel-footer">
            <a ng-click="onClickDetalharProduto(meusProdutos[$index + 1])" on-hold="showPLaylistItemActionsheet($index + 1)">
              <label class="titulo">{{meusProdutos[$index + 1].Name}}</label>
              </br>
              <label class="description">{{meusProdutos[$index + 1].Description.split('.')[0]}}</label>
            </a>
            <p>
              <a ng-click="onClickDetalharProduto(meusProdutos[$index + 1])" on-hold="showPLaylistItemActionsheet($index + 1)">
                <label class="preco pull-left">{{meusProdutos[$index + 1].Price != 0 ?  "R$" + meusProdutos[$index + 1].Price.toFixed(2) : "";}}</label>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
