<ion-view>
  <ion-content id="entrar" class="padding50px">
    <div>
      <img id="logo" class="img-responsive" src="img/logo.png">
    </div>
    <div id="acesso">
      <button class="btn button button-block button-light btn-raised facebook-color text-white bold padding5" ng-click="facebookLogin()">
        LOGIN VIA FACEBOOK
      </button>

      <button class="btn button button-block button-light btn-raised accent text-white bold padding5" ng-click="goToPage('#/cadastrar')">
        CRIE SUA CONTA
      </button>

      <button ng-click="login()" style="background-color: #999999;" class="btn button button-block button-light btn-raised text-white bold padding5">
        LOGIN
      </button>
    </div>
  </ion-content>
</ion-view>
