<ion-view>
  <div class="bar bar-header item-input-inset">

    <button ng-click="voltar()" class="button button-icon button-clear ion-arrow-left-c text-accent"></button>

    <label class="item-input-wrapper" style="margin-left: 10px;">
      <input type="search" ng-model="produto.buscar">
      <i class="icon ion-ios-search placeholder-icon"></i>
    </label>

    <a class="button button-icon button-clear ion-ios-loop-strong fa-15x text-accent" ng-click="limparFiltros()"></a>
  </div>

  <ion-content id="filtros">
    <ion-refresher
      on-refresh="buscarProduto()">
    </ion-refresher>


    <div class="container general">
      <p><h5 class="pull-left"><b>Cores</b></h5></p>
      <ion-scroll direction="x" style="width: auto; height: auto;z-index: 9998;padding:0px 0px 10px 5px;">
        <div class="row row-center">

          <div class="list card group-color" ng-repeat="g in grupo track by $index;" ng-click="onColorClick($event,g)">
            <div class="item item-avatar">
              <img width="150" height="150"  src="{{g.Image + '?w=200&h=200&mode=crop&scale=both'}}"/>
            </div>
          </div>


        </div>
      </ion-scroll>
    </div>
    <hr color="style14" style="width: 90%;position: relative;">


    <div class="container general">
      <p><h5 class="pull-left"><b>Material</b></h5></p>
      <ion-scroll direction="x" style="width: auto; height: auto; z-index: 9998;padding: 10px;">
        <div class="row row-center">
            <div class="list card group-material" ng-repeat="material in materials track by $index"
                 ng-click="onMaterialClick($event,material)">
              <div class="item item-avatar">
                <img width="150" height="150" src="{{material.Image + '?w=200&h=200&mode=crop&scale=both'}}"/>
            </div>
              <label style="padding: 0px 0px 20px 0px;margin-bottom: 10px;top: 10px;bottom: 0px;margin: 0px;color: #333;font-size: 15px;" class="text-center">{{material.Description}}</label>
          </div>
        </div>
      </ion-scroll>
    </div>

    <hr color="style14" style="width: 90%;position: relative;">

    <div class="container general">
      <p><h5 class="pull-left"><b>Estilo</b></h5></p>
      <ion-scroll direction="x" style="width: auto; height: auto;z-index: 9998;padding: 10px;">
        <div class="row row-center">
            <div class="list card group-style"  ng-repeat="style in styles track by $index"
                 ng-click="onStyleClick($event,style)">
              <div class="item item-avatar">
                <img width="150" height="150" src="{{style.Image + '?w=200&h=200&mode=crop&scale=both'}}"/>
              </div>
            <label style="padding: 0px 0px 20px 0px;margin-bottom: 10px;top: 10px;bottom: 0px;margin: 0px;color: #333;font-size: 15px;" class="text-center">{{style.Description}}</label>
          </div>
        </div>
      </ion-scroll>
    </div>
    </br>
    <div class="container">
      <ion-list style="width: 100%;">
        <ion-radio class="price clear" ng-model="produto.price" value="LowestPrice">Menor preço</ion-radio>
        <ion-radio class="price clear" ng-model="produto.price" value="HighestPrice">Maior preço</ion-radio>
        <!--<ion-radio class="price clear" ng-model="price" value="Related" ng-change="price='HighestPrice'">Relevantes</ion-radio>-->
        <ion-checkbox class="text-center liked clear" ng-model="produto.liked">Mostrar apenas produtos curtidos
        </ion-checkbox>
      </ion-list>
    </div>
    <div class="container">
      <button class="btn btn-raised accent text-white limpar" ng-click="filtrarProdutos()">
        <b>Filtrar</b>
      </button>
    </div>

  </ion-content>
</ion-view>
