<ion-modal-view style="background-color: rgba(50,50,50,0.2);color: #888;">
  <ion-header-bar>
    <h3 class="title">LOGIN</h3>
    <div class="buttons">
      <a class="button button-icon button-clear ion-close" ng-click="modal.hide()"></a>
    </div>
  </ion-header-bar>
  <ion-content class="hasheader">
    <form ng-submit="doLogin()" class="login">
      <div class="list">
        <label class="item item-input item-input-wrapper">
            <input type="text" placeholder="E-mail" ng-model="loginData.email">
            <i  class="icon ion-email placeholder-icon"></i>
        </label>
        <label class="item item-input item-input-wrapper">
          <input type="password" ng-model="loginData.senha" placeholder="Senha">
          <i  class="icon ion-key placeholder-icon"></i>
        </label>
        <label class="item">
          <button style="background-color: #5bd3bd" class="btn button button-block button-light btn-raised text-white bold padding5" type="submit">ENTRAR</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
