<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-view name="menuContent">
    </ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" id="menu">
    <ion-header-bar class="bar-stable background-white" style="border-bottom: none !important;">
      <div class="row">
        <img class="logo-header" src="img/logo-header.png">
      </div>
    </ion-header-bar>
    <ion-content id="profile">
      <div class="row">
        <div class="col-md-1" style="margin-top: 25px;margin-left: 15px;">
          <a href="javascript:void(0)"><img ng-click="abrirPopupCamera()" class="photo" ng-src="{{imgURI || user.ProfileImageUrl}}"></a>
        </div>
        <div class="col-md-4" style="margin-top: 25px;">{{user.Name}}</div>
      </div>
      <ion-list>
        <ion-item class="padding-horizontal fix-border ativo" menu-close ng-click="stateGo('app.mostruario')">
          <i class="ion-home padding5"></i> Store
        </ion-item>

        <ion-item class="padding-horizontal fix-border" menu-close ng-click="stateGo('app.playlist')">
          <i class="ion-star padding5"></i> Minhas listas
        </ion-item>

        <ion-item class="padding-horizontal fix-border" menu-close href="javascript:void(0)" ng-click="changeLocation('http://blog.decostore.com.br')">
          <i class="ion-social-rss padding5"></i> Blog
        </ion-item>

        <ion-item class="padding-horizontal fix-border" href="javascript:void(0)" ng-click="popover.show($event);">
          <i class="ion-iphone padding5"></i> Sobre
        </ion-item>

        <ion-item class="padding-horizontal fix-border">
          <i class=" padding5"></i>
        </ion-item>

        <ion-item class="padding-horizontal fix-border" menu-close href="javascript:void(0)" ng-click="logout()">
          <i class="ion-log-out padding5"></i> Sair
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
<script id="templates/popover.html" type="text/ng-template">
  <ion-popover-view class="popover-menu" style="height: auto !important;">
    <ion-list>
        <ion-item href="javascript:void(0)" ng-click="changeLocation('http://decostore.com.br/termos')">
          Termos de uso e privacidade
        </ion-item>
      </ion-list>
  </ion-popover-view>
</script>
<script id="popupCamera.html" type="text/ng-template">

  <div class="addtolist-header" >
    <i class="ion-close text-accent" ng-click="popupCamera.close()"></i>
  </div>
  <div class="addtolist-content">
    <button class="button button-full button-assertive" ng-click="takePhoto()">
      Tirar foto
    </button>

    <button class="button button-full button-assertive" ng-click="choosePhoto()">
      Selecionar foto
    </button>

  </div>
</script>
