<ion-view>
  <div class="bar bar-header item-input-inset">
    <button class="button button-icon button-clear ion-navicon text-accent" menu-toggle="left"></button>
    <label class="item-input-wrapper" style="margin-left: 10px;">

      <input type="search" ng-model="produto.buscar">
      <i  class="icon ion-ios-search placeholder-icon"></i>
      <!--<i class="button button-icon icon ion-ios-search placeholder-icon"></i>-->
    </label>

    <a class="button button-icon button-clear ion-ios-color-filter-outline fa-15x text-accent" href="#/app/filtros"></a>

  </div>
<ion-content id="mostruario">

    <ion-refresher
      on-refresh="onRefresh()">
    </ion-refresher>


    <div class="row itens" ng-repeat="item in listaProdutos | filter: produto.buscar track by $index" ng-if="$index % 2 == 0">
      <div class="col col-50">
        <div class="panel panel-default">
          <a ng-click="onClickDetalharProduto(item)"  on-hold="popupPlaylist(item)">
          <div class="panel-body">
            <img class="img-responsive" src="{{item.Image + '?w=250&h=250&mode=crop&scale=both'}}">
          </div>
          </a>
          <div class="panel-footer">
            <a ng-click="onClickDetalharProduto(item)">
            <label class="titulo">{{item.Name}}</label>
              </br>
              <label class="description">{{item.Description.split('.')[0]}}</label>
            </a>
            <p>
              <a ng-click="onClickDetalharProduto(item)" on-hold="addToList(item)">
                <label class="preco pull-left">RS22.22{{item.Price != 0 ?  "R$" + item.Price.toFixed(2) : "";}}</label>
                <label ng-click="curtir(item)" class="acoes" style="margin-left: 5px;float: right;position: relative;bottom: 12px;">
                  <i  class="button button-icon button-clear fa-15x {{item.Liked ? 'ion-ios-heart text-accent': 'ion-ios-heart-outline';}}"></i>
                </label>&nbsp;
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col col-50" ng-if="!!listaProdutos[$index + 1]">
        <div class="panel panel-default">
          <a ng-click="onClickDetalharProduto(listaProdutos[$index + 1])"  on-hold="popupPlaylist(item)">
            <div class="panel-body">
              <img class="img-responsive" src="{{listaProdutos[$index + 1].Image + '?w=250&h=250&mode=crop&scale=both'}}">
            </div>
          </a>
          <div class="panel-footer">
            <a ng-click="onClickDetalharProduto(listaProdutos[$index + 1])" on-hold="addToList(item)">
              <label class="titulo">{{listaProdutos[$index + 1].Name}}</label>
              </br>
              <label class="description">{{listaProdutos[$index + 1].Description.split('.')[0]}}</label>
            </a>
            <p>
              <a ng-click="onClickDetalharProduto(listaProdutos[$index + 1])">
                <label class="preco pull-left">{{listaProdutos[$index + 1].Price != 0 ?  "R$" + listaProdutos[$index + 1].Price.toFixed(2) : "";}}</label>
              </a>
              <label ng-click="curtir(listaProdutos[$index + 1])" class="acoes pull-right" style="margin-left: 5px;float: right;position: relative;bottom: 12px;">
                <i  class="button button-icon button-clear fa-15x {{listaProdutos[$index + 1].Liked ? 'ion-ios-heart text-accent': 'ion-ios-heart-outline';}}"></i>
              </label>&nbsp;
            </p>
          </div>
        </div>
      </div>
    </div>
</ion-content>

  <script id="popupAddToList.html" type="text/ng-template">

      <div class="addtolist-header" >
        <i class="ion-close text-accent" ng-click="popupList.close()"></i>
        Escolha uma lista
      </div>
      <div class="addtolist-content">
        <div class="list">
          <div class="item add-item" ng-hide="item.Id == 0" style="cursor: pointer;" ng-repeat="item in listaPlaylist track by $index" ng-click="adicionarProduto(item)">
            <img style="vertical-align:middle; margin-right: 5px;box-shadow: none;" src="img/folder.png" width="50px" height="50px" />
           {{item.Name}}
          </div>
        </div>

        <label class="bt-add-list">
          <button class="button button-icon ion-plus accent text-white" ng-click="cadastrar()" style="vertical-align:middle"></button>
          Nova lista
        </label>

      </div>
  </script>

</ion-view>
