<ion-view cache-view="false">
  <div class="bar bar-header item-input-inset">

    <button class="button button-icon button-clear ion-navicon text-accent" menu-toggle="left"></button>

    <label class="item-input-wrapper" style="margin-left: 10px;">
      <input type="search" ng-model="produto.buscar">
      <i  class="icon ion-ios-search placeholder-icon"></i>
    </label>

    <a class="button button-icon button-clear ion-ios-plus-outline fa-15x text-accent" ng-click="cadastrar()"></a>

  </div>

  <ion-content id="playlist">

    <ion-refresher
      on-refresh="buscarProduto()">
    </ion-refresher>

    <div class="row itens" ng-repeat="item in minhasListas track by $index" ng-if="$index % 2 == 0">
      <div class="col col-50">
        <div class="panel panel-default" style="min-height: 150px;" ng-click="onClickListarItens($index)">
          <a on-hold="showPLaylistActionSheet(item)">
            <div class="panel-body">
              <i class="fa fa-folder-o fa-4x text-accent" style="position: relative; top: 50px;left: 55px;" ng-hide="item.Products[0].Image"></i>
              <img class="img-responsive" src="{{item.Products[0].Image + '?w=200&h=200&mode=crop&scale=both'}}">
              <label class="titulo" style="{{!item.Products[0].Image ? 'top:65px; !important;':''}}">{{item.Name}}</label>
            </div>
          </a>
        </div>
      </div>
      <div class="col col-50" ng-if="!!minhasListas[$index + 1]" >
        <div class="panel panel-default" style="min-height: 150px;" ng-click="onClickListarItens($index + 1)">
          <a on-hold="showPLaylistActionSheet(minhasListas[$index + 1])">
            <div class="panel-body">
              <i class="fa fa-folder-o fa-4x text-accent" style="position: relative; top: 55px;left: 60px;" ng-hide="minhasListas[$index + 1].Products[0].Image"></i>
              <img class="img-responsive" src="{{minhasListas[$index + 1].Products[0].Image + '?w=200&h=200&mode=crop&scale=both'}}">
              <label class="titulo" style="{{!minhasListas[$index + 1].Products[0].Image ? 'top:65px; !important;':''}}">{{minhasListas[$index + 1].Name}}</label>
            </div>
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
