<ion-view>
  <ion-content ng-init="init()" id="gradient" style="width: 100%;height: 100%;">
    <div class="container">
      <img id="splash-logo" class="img-responsive" src="img/splash.gif">
    </div>
  </ion-content>
</ion-view>
