/* Empty. Add your own CSS if you like */
/* #E34657 */

body{
  font-family: "Lucida Sans";
  color: #999999;
}

ion-content{
  padding-top:45px !important;
  color: #777;
}

.home{
  background-image: url('../img/home.png');
  background-repeat: no-repeat;
}


.input-label{
  font-size: 14px !important;
  color: #777 !important;
}

#entrar{
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2fb6b5), to(#128eb2));
}

#entrar button{
  background-color: inherit;
}
#entrar a{
  background-color: inherit;
}

.oppa{
  position: relative;
  left: 75px;
  bottom: 8px;
  z-index: 9999;
}
.description{
  font-size: 12px;
  color: #999999;
}

.preco{
  font-size: 13px;
  color: #444;
}

.bold{
  font-weight: bold !important;
}

.padding5{
  padding: 5px !important;
}

.padding50px{
  padding: 50px !important;
}

#menu{
  background-color: #ffffff;
}

.text-accent{
  color: #E34657 !important;
}

.accent{
  background-color: #E34657 !important;
}

.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before{
  border-color: #E34657 !important;
  background-color: #E34657 !important;
}

.text-white{
  color: #ffffff !important;
}

.whats-color{
  background-color :limegreen !important;
}

.background-white{
  background-color: #ffffff !important;
}

.facebook-color{
  background-color: #38558f !important;
}

.gray-fa{
  background-color: #fafafa;
  width: 30px !important;
  height: 30px !important;
}

.tansparent {
  background-color: transparent !important;
}
.gray-fa i{
  color: #777;
  font-size: 16px !important;
}

#mostruario{
  background-color: #fafafa;
  color: #999 !important;
}

.share-icons ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 0;
  top:0;
}

.share-icons ul li {
  position: absolute;
  -webkit-transition: all 2s linear;
  -moz-transition: all 2s linear;
  transition: all 2s linear;
  height: 40px;
  min-width: 40px;
  width: 40px;
  border-radius: 50%;
  webkit-box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
}
.share-icons i{
  font-size: 22px;
  position: relative;
  top: 11px;
}

/*.share-icons .fa-facebook{*/
/*position: relative;*/
/*left: 11px;*/
/*top: 9px;*/
/*}*/

/*.share-icons .fa-heart{*/
/*position: relative;*/
/*left: 7px;*/
/*top: 8px;*/
/*}*/

/*.share-icons .fa-envelope{*/
/*position: relative;*/
/*left: 9px;*/
/*top: 8px;*/
/*font-size: 17px;*/
/*}*/

/*.share-icons .fa-plus{*/
/*position: relative;*/
/*top: 8px;*/
/*left: 9px;*/
/*}*/
.style-color{
  min-width:31px !important;
  height: 55px;
  display: inline-flex !important;

}
.orange{
  background-color: orange !important;
}
.red{
  background-color: red !important;
}

.gray{
  background-color: dimgray !important;
}

#filtros{
  background-color: #fafafa;
  top:0 !important;
}

#filtros .radio p{
  font-size: 14px;
  position: relative;
  bottom: 30px;
  left: 15px;
}

.alert-body{
  text-align: center !important;
}

.checkbox input[type=checkbox]:checked+.checkbox-material .check{
  color: #E34657 !important;
  border-color: #E34657  !important;
}

.checkbox input[type=checkbox]:checked+.checkbox-material .check:before{
  color: #E34657 !important;
}

.checkbox input[type=checkbox]:checked+.checkbox-material .check:before{
  color: #E34657 !important;
}

.radio input[type=radio]:checked~.circle{
  border-color: #E34657 !important;
}

.radio input[type=radio]:checked~.check{
  background-color: #E34657 !important;
}

.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
}

#menu .item{
  border-top: none !important;
  border-bottom: none !important;
}

.ativo{
  border-left: 6px solid #E34657 !important;
}

.ativo i{
  color: #E34657 !important;
}

.fix-border{
  border-left: 6px solid transparent;
}

.logo-header{
  width: 110px;
  height: 23px;
  position: relative;
  left: 25px;
  top:5px;
}

.popover-menu{
  font-family: "Lucida Sans";
  color: #999999;
}

.popover-menu .item-complex .item-content, .item-radio .item-content {
  padding: 16px 25px 16px 16px !important;
}

.popover-menu a{
  font-size: 14px !important;
  color: #777777;
}

.liked span{
  position: relative;
  left: 20px;
}


#menu .list{
  position: relative;
  top: 40px;
}

#profile{
  top: 0 !important;;
}

#profile .photo{
  border-radius: 50%;
  width: 60px;
  border: 1px solid #ededed;
}

#profile .col-md-1{
  padding-right: 0px;
}

#profile .col-md-4{
  position: relative;
  top: 20px;
  padding-left: 10px;
}

.panel{
  margin-bottom: 0px;
}

.panel-default{
  width: auto;
  border-radius: 5px;
}

#filtros label{
  position: relative;
  bottom: 30px;
  padding-left: 5px;
}

.hasheader{
  top:0 !important;
}

.panel-body{
  padding: 0px;
  height: auto;
}

.panel-body img{
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.panel-footer{
  background-color: #ffffff;
  border: none;
}

.itens{
  margin: auto;
  padding: 0px;
}

.titulo{
  font-size: 14px;
  color: #444444;
}

#playlist{
  background-color: #fafafa;
}

#playlist .titulo{
  font-size: 14px;
  color: #444444;
  position: relative;
  left: 5px;
}

.acoes i{
  font-size: 16px;
}

.nav-menu .header-item:first-child{
  width: 90% !important;
}

.nav-playlist .header-item:nth-child(2){
  width: 83% !important;
}

.icon-fix{
  position: relative;
  right: 18px;
  color: #888 !important;
}

#logo{
  width: 80%;
  position: absolute;
  left: 0px !important;
  right: 0px !important;
  margin: auto;
  top: 10px;
}

#acesso{
  position: relative;
  top:215px;
}

.yellow{
  color: yellow !important;
}


.buscar{
  width: 100%  !important;;
  height: 27px !important;
  margin: auto  !important;;
  padding: 3px  !important;;
  border: 1px solid #ededed  !important;
}

.primary-buttons{
  width: 90% !important;
}

.stilotext{
  width: 140px;
  margin-top: 10px;
}


#gradient{
  width: 100%;
  height: 100%;
}

hr.style14 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

#splash-logo{
  position: relative;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto !important;
}

.fa-15x{
  font-size: 1.5em !important;
}

@media screen and (min-width: 600px) {
  #acesso {
    top:415px;
  }

  #logo{
    top: 50px;
  }
}

@media screen and (min-width: 992px) {
  #profile .col-md-4 {
    left:55px !important;
  }

  #logo{
    top: 50px;
  }
}

@media screen and (min-width: 1000px) {
  #acesso {
    top:580px;
  }

  #logo{
    top: 290px;
  }
}

.add-item:hover{
  background-color: #fafafa;
}

.action-sheet{
  background-color: #ffffff;
  color: #888888;
}

.addtolist-header{
  font-size: 18px;
  padding:15px;
  background: #fff;
}
.addtolist-header > i{
  margin-right: 6px;
}

.add-to-list-popup > .popup{
  border-radius: 4px !important;
  background: #fff !important;
}
.add-to-list-popup > .popup > .popup-head{
  display: none !important;
}

.add-to-list-popup > .popup > .popup-body{
  padding:0px;
  border-radius: 4px !important;
}

.radio{
  margin-bottom: 3px !important;
}

#filtros .form-group{
  height: 65px;
  margin-top: 45px;
}

.row-center{
  margin: auto;
}

#filtros .form-group .row{
  height: 60px;
}

.addtolist-content{
  padding:20px;
  background:#ececec;
}

.bt-add-list{
  font-size: 22px;
  color: #999999;
}
.bt-add-list button{
  width: 40px;
}

.addtolist-content > .list > .item{
  background: none;
  border-left:none;
  border-right:none;
  border-top:none;
  border-bottom:#ccc 1px solid;
}

#filtros img{
  cursor: pointer;
}

#filtros b{
  cursor: pointer;
}

.addtolist-content > .list > .item > img{
  border-radius: 7px;
  box-shadow: #999 0px 0px 6px;
}

.limpar{
  width: 100%;
  margin: auto;
  padding: 15px;
  position: relative;
  bottom: 20px;
}

.checked{
  border: 2px solid #E34657 !important;
}

.coresA{
  margin-left: 2px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  left: 16px;
}

.coresB{
  margin-left: 2px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
/*#target:before {*/
/*content: "\&#10003";*/
/*}*/

/*.add-to-list-popup.popup-title*/
/*.add-to-list-popup.popup-buttons .button*/
/*.add-to-list-popup.popup-buttons .button.activated*/

.col-sm-6 .col-md-4:nth-child(6){
  padding-left: 0 !important;
}

.platform-android .action-sheet-backdrop.active {
  background-color: rgba(0, 0, 0, 0.1); }
.platform-android .action-sheet {
  align-content: center;
  margin:auto;
  max-width: 96vw;
  border-radius: 5px;
  /*margin: 0;*/
  margin-bottom: 10px;}
.platform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button {
  text-align: left;
  /*border-color: #e2e2e2;*/
  font-size: 16px;
  color: inherit;}
.platform-android .action-sheet .action-sheet-title {
  font-size: 14px;
  padding: 16px;
  color: #666; }
.platform-android .action-sheet .button {
  border-color: #e2e2e2;
  padding-left: 16px;
  color: #104e89;
}
.platform-android .action-sheet .button.destructive {
  color: red;
}
.platform-android .action-sheet .button.active, .platform-android .action-sheet .button.activated {
  background: #e8e8e8; }
.platform-android .action-sheet-group {
  /*margin: 0;*/
  border-radius: 0;
  background-color: #fafafa; }
.platform-android .action-sheet-cancel {
  display: none;
}
.platform-android .action-sheet-has-icons .button {
  padding-left: 56px; }

.fab-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: scale(2);
  transform: scale(2);
  position: absolute;
  top: auto;
  right: auto;
  left: 0;
  bottom: 0;
  z-index: 9999;
  padding: 5px;
}

.fab-menu-button {
  z-index: 101;
}

.fab-menu-button-item{
  width: 20px !important;
  min-width: 20px !important;
  height: 20px !important;
  font-size: 13px !important;
}

.fab-menu-items {
  /**
   * @see http://hugogiraudel.com/2013/04/02/items-on-circle/
   */
  z-index: 99;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -170px;
  bottom: 0;
  left: 65px;
  border-radius: 50%;
  list-style: none;
}
.fab-menu.active .fab-menu-items {
  display: block;
}
.fab-menu-items > li {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: auto;
  right: auto;
  bottom: 20px;
  left: 20px;
}

.fab-menu-items > li > a{
  padding-top:3px !important; ;
}

.fab-menu-overlay {
  -webkit-transition: all 0.2s ease 0.2s;
  transition: all 0.2s ease 0.2s;
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 98;
}
.fab-menu-overlay.active {
  display: block;
}

.repeat-animation {
  box-sizing:border-box;
  line-height:20px;

}
.repeat-animation.ng-enter-stagger {
  /* 200ms will be applied between each sucessive enter operation */
  -webkit-transition-delay:0.2s;
  transition-delay:0.2s;

  /* this is here to avoid accidental CSS inheritance */
  -webkit-transition-duration:0;
  transition-duration:0;
}

.repeat-animation.ng-enter {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;

  opacity:0;
  line-height:0;
}

.repeat-animation.ng-enter.ng-enter-active {
  opacity:1;
  line-height:20px;
}

#filtros .general .list{
  min-width: 150px;
  min-height: 100px;
  z-index: 9999;
}

/*.group-color:active{*/
/*webkit-box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);*/
/*box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);*/
/*}*/

/*.group-color:hover{*/
/*webkit-box-shadow: 0.5px 2px 2.5px 0 rgba(0,0,0,.12),0 2px 2px 0 rgba(0,0,0,.24) !important;*/
/*box-shadow: 0.5px 2px 2.5px 0 rgba(0,0,0,.12),0 2px 2px 0 rgba(0,0,0,.24) !important;*/
/*}*/


#filtros .general .item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image{
  min-width: 150px !important;
  min-height: 100px !important;;
  top: 0px;
  left: 0px;
  max-width: inherit !important;
  max-height: inherit !important;
  width: 100%;
  height: 100%;
  border-radius: 0 !important;
}

#filtros .general .item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
  min-height: 100px;
  width: 100%; !important;
  height: 100% !important;
}

#filtros .general .list:last-child.card{
  margin-bottom: 20px !important;
}

#filtros .general .list{
  background-color: inherit !important;
  border: none !important;
  border-style: inherit !important;
  text-align: center;
}

#filtros .general .list .item{
  text-align:center !important;
  background-color: inherit !important;
  border: none !important;
  border-style: inherit !important;
}


.scroll-refresher .invisible .js-scrolling .login{
  visibility: visible !important;
  background-color: #ffffff !important;
}


